@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
body{
    margin: 0;
}
/*Desktop version*/
/*Navbar*/
.main-navbar{
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(102, 0, 102, 0.2) 0px 1px 2px;
}
.logo{
    margin: 0 35px;
}
.nav-links{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    padding: 0;  
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;

}
.btn-menu-toggler{
    display: none;
}
.main-video{
    width: 100%;
    height:max-content;
}
#search{
    position: absolute;
    top: 90px;
}
/*Mobile version*/
/*Navbar*/
@media screen and (max-width: 576px) {
    .btn-menu-toggler{
        display: block;
        width: 45px;
        height: 30px;
        font-size: 16px;
        color: #660066;
        background-color: #ead6f5;
        border-color: #660066;
        border-width: 1px;
    }
    .nav-links{
        display: none;
    }   
    .main-navbar{
        justify-content: space-around;
    }
}