@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap');
body{
    margin: 0;
}
/*Desktop version*/
/*Navbar*/
.main-navbar{
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(102, 0, 102, 0.2) 0px 1px 2px;
}
.logo{
    margin: 0 35px;
}
.nav-links{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    padding: 0;  
}
.nav-item{
    margin: 0 15px;
}
.nav-link{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: #660066;
}
.btn-menu-toggler{
    display: none;
}
#app{
    font-size: 0;
}
.main-video{
    position: absolute;
    top: 90px;
    width: 100%;
    z-index: -2;
}
#search{
    width: 55%;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 25px;
    border-width: 0;
}
#search::placeholder{
    color: #450145;
}
.search-form{
    text-align: center;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company{
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
    margin-bottom: 100px;
    padding: 5px;
    background-color: white;
}
.company-card{
    border: 1px solid #c69fc6;
    flex: 1 1 calc(20em - 2px);
    min-width: 180px;
    margin: 5px;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    color: black;
}
.company-card:hover{
    box-shadow: rgba(102, 0, 102, 0.4) 0px 0px 5px;
    transition: 0.5s;
    background-color: #f7f3f9;
}
.company-card > *{
    font-size: 16px;
    width: 100%;
}
.company-card > p{
    font-size: 14px;
}
.company-card > img{
    width: 100%;
}
.company-card > .title{
    margin: 0;
}
.section-title{
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: #660066;
}

/*Subsol*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: black;
    color: white;
}
footer > *{
    padding: 0;
    margin: 0;
}
/*Iregistrare*/
.inregistrare{
    height: calc(100vh - 240px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.inregistrare > form{
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0 25px;
    flex-direction: column;
}
.mb-3{
    margin-bottom: 20px;
}
.mb-3 > *{
    box-sizing: border-box;
    width: 100%;
}
.mb-3 > input{
    padding: 5px;
}
.mb-3 > label{
    font-weight: bolder;
}
.inregistrare button{
    color: white;
    background-color: #660066;
    border-color: #660066;
    padding: 7px;
    cursor: pointer;
}
.reiting{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.reiting h1{
    grid-column: 1 / 6;
}
.servicii{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 75%;
    margin: auto;
}
.info-logo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    z-index: 2;
    bottom: 50px;
}
.info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reiting{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-left: 25px;
}
.reiting > h1{
    margin: 0;
    grid-column: 1 / 6;
}
.reiting > i{
    color: #ffc107;
}
.voteaza{
    display: flex;
    align-items: center;
}
.voteaza > i{
    color: #ffc107;
}
.brand{
    display: flex;
    flex-wrap: wrap;
    margin-left: 25px;
}
.head-img{
    width: 100%;
    position: relative;
    top: 3px;
    border-radius: 15px;
    height: 400px;
    object-fit: cover;
}
.lista-servicii{
    margin-bottom: 50px;
}
.serviciu img{
    width: 100px;
    height: 80px;
    object-fit: cover;
}
.serviciu img:hover{
    box-shadow: rgba(102, 0, 102, 1) 0px 0px 2px;
}
.serviciu .titlu{
    width: 20%;
    padding: 0 5px;
    font-size: 18px;
}
.serviciu .descriere-serviciu{
    width: 60%;
    font-weight: bold;
}
.serviciu a {
    text-decoration: none;
    width: 15%;
}
.serviciu a:hover{
    text-decoration: underline;
    color: #450145;
}
.serviciu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(102, 0, 102, 0.2) 0px 0px 2px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.serviciu:hover{
    background-color:#f5f0f7;
    transition: 0.4s;
    box-shadow: rgba(102, 0, 102, 0.4) 0px 0px 4px;
}
.info-logo:hover{
    transform: translate(-2.1rem, -2ex);
    transition: 1s;
}
.form-comentariu{
    display: flex;
}
.form-comentariu > input{
    width: 100%;
    padding: 12px 20px;
    border-radius: 20px;
    border-width: 0;
    background-color: #f5f0f7;
    margin-bottom: 30px;
}
.form-comentariu > input:focus{
    outline: none;
}
.comentarii{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.comentarii > li{
    box-shadow: rgba(102, 0, 102, 0.2) 0px 0px 2px;
    padding: 10px 25px;
    width: 45%;
    border-radius: 20px;
    margin-bottom: 25px;
    background-color: #f5f0f7;
    font-size: 14px;
}
.nume-utilizator{
    margin: 6px 0;
    font-size: 14px;
}
.data-comentariu{
    margin: 0;
    text-align: end;
    font-size: 13px;
}
.right{
    align-self: end;
    box-shadow: rgba(102, 0, 102, 0.5) 0px 0px 4px!important;
}
/*Mobile version*/
@media screen and (max-width: 768px) {
    .serviciu .descriere-serviciu{
        font-size: 12px;
    }
    .serviciu .titlu{
        font-size: 12px;
    }
    .serviciu a{
        font-size: 12px;
    }
}
@media screen and (max-width: 576px) {
    .btn-menu-toggler{
        display: block;
        width: 45px;
        height: 30px;
        font-size: 16px;
        color: #660066;
        background-color: #ead6f5;
        border-color: #660066;
        border-width: 1px;
    }
    .nav-links{
        color: #660066;
    }   
    .main-navbar{
        justify-content: space-around;
    }
    #search{
        top: 30%;
        width: 80%;
        padding: 8px 15px;
    }
    .search-form{
        height: 30vh;
    }
    .company {
        width: 85%;
    }
    .serviciu{
        flex-direction: column;
        padding: 10px;
    }
    .servicii{
        width: 95%;
    }
    .serviciu img{
        width: 100%;
        height: auto;
    }
    .serviciu .titlu{
        width: 100%;
        text-align: center;
        font-size: 14px;
    }
    .serviciu .descriere-serviciu{
        width: 100%;
        font-size: 14px;
        line-height: 2;
    }
    .serviciu a{
        font-size: 14px;
        width: 100%;
        text-align: end;
    }
    .comentarii > li{
        width: 70%;
    }
    .reiting{
        grid-auto-rows: min-content;
    }
    .voteaza{
        justify-content: end;
        margin-bottom: 50px;
    }
    .info{
        flex-direction: column;
    }
    .brand{
        height: 100px;
    }
}